---
import translate from '../../locales/translation.json'
import Burger from './Burger.astro';
import LanguageSelect from './LanguageSelect.astro';

const { pathname } = Astro.url;
const lang = pathname.split('/')[1] || "en"
const currentLang = translate[lang] || translate["en"]
const t = currentLang.header

const links = [
  { name: t.about, url: '#about' },
  { name: t.work, url: '#work' },
  { name: t.contacts, url: '#contacts' }
]

const languages = [
  { text: 'English', value: 'en' },
  { text: 'Ukranian', value: 'ua' }
]


---

<script>
</script>

<header class="fixed top-0 left-0 w-full bg-white shadow-sm z-50">
  <div class="max-w-[1440px] m-auto flex justify-between items-center min-h-16 font-semibold z-10 px-4 md:px-20">
    <a class="text-2xl" href="#greetings">{'<Logo />'}</a>

    <div class="right-menu block flex gap-4 items-center">
      <div class="hidden md:flex gap-4 items-center">
        <nav>
          <ul class="list-none flex gap-6 text-gray-600 text-lg">
            {links.map(link => 
              <li>
                <a href={link.url}> {link.name} </a>
              </li>
            )}
          </ul>
        </nav>
        <div class="h-6 bg-black w-px"></div>
        <button class="bg-gray-900 text-white px-4 py-2 rounded-xl">{t.downloadCV}</button>
      </div>
      <LanguageSelect id="header-language-select" lang={lang} />
      <Burger links={links} languages={languages} lang={lang} t={t} />
    </div>
  </div>
</header>